*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
@font-face {
  font-family: "myfont1";
  src: url("../fonts/Righteous-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "myfont2";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: "myfont1";
  background-color: #f3f6f6;
}
#Home {
  margin-top: 60px;
  text-align: center;
}
#Home h1 {
  font-family: "myfont2";
  margin: 16px 0;
  transition: transform 2s ease;
  display: inline-block;
  transform-origin: center center;
  font-weight: 800;
  color: #9799e8;
}
#Home h1:hover {
  transform: scale(1.1);
}
#Home h2 {
  font-size: 2rem;
  background-image: linear-gradient(to right, #5e88fc, #ffb6c1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box {
  border-radius: 40px;
  text-align: left;
  background-color: #fff;
  overflow: hidden;
}
#addbtn {
  background-color: #9799e8;
  color: #fff;
}
.mytable {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  white-space: normal !important;
}
@media screen and (max-width: 550px) {
  .mytable {
    font-size: 11px;
  }
}
